/* for beter mobile experience playing game */


@font-face {
  font-family: digifont;
  src: url(../fonts/digital.ttf);
}

@media only screen and (orientation: portrait) {
  /* (B) DEALER & PLAYER */
  /* (B1) CONTAINERS */
  #deal-data, #play-data, #play-control, #bank, #p-bet { font-family: digifont, sans-serif; }
  #deal-data, #play-data, #deal-cards, #play-cards, #play-control { padding: 20px; }
  #deal-data, #play-data { font-weight: 700; }
  /* #deal-cards, #play-cards { min-height: 24px; } */
  :root {
    --deal-data-bg: #c9e1ff;
    --deal-cards-bg: #e4f0ff;
    --play-data-bg: #ffcfcf;
    --play-cards-bg: #ffe7e7;
    --play-control-bg: #f2daff;
    --bank-bg: #a5ebff;
    --stand-bg: #ab2323;
    --playc-bg: #4381de;
    --betup-bg: #00112c;
    --betdown-bg: #001d47;
    --pbet-bg: #00c8ff;
    --bj-card: #fff;
  }
  
  .dark-mode {
    --deal-data-bg: #001546;
    --deal-cards-bg: #0a2054;
    --play-data-bg: #29003b;
    --play-cards-bg: #390051;
    --play-control-bg: #0d0014;
    --bank-bg: #002a35;
    --stand-bg: #ab2323;
    --playc-bg: #4381de;
    --betup-bg: #00bd32;
    --betdown-bg: #ff002f;
    --pbet-bg: #002a36;
    --bj-card: #131313;
  }
  
  #deal-data {
    background: var(--deal-data-bg);
  }
  #deal-cards {
    background: var(--deal-cards-bg);
  }
  #play-data {
    background: var(--play-data-bg);
  }
  #play-cards {
    background: var(--play-cards-bg);
  }
  #play-control {
    background: var(--play-control-bg);
  }
  
  #p-bet { 
    border-style: solid;
    padding: 10px;
    background: var(--pbet-bg);
  }
  #bank { 
    border-style: solid;
    padding: 10px;
    background: var(--bank-bg);
  }
  
  #deal-stand, #play-stand {
    display: none; padding: 5px;
    color: #fff; background: var(--stand-bg);
  }
  #deal-stand.stood, #play-stand.stood { display: inline-block; }
  
  /* (B2) CARDS */
  #deal-cards, #play-cards {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid;
  }
  .bj-card {
    display: flex;
    align-items: center; justify-content: center;
    margin: 5px;
    /* width: 10%; height: 10%;*/
    font-size: 4em;
    text-align: center;
    background: #fff;
  }
  #deal-first .front { display: none; }
  #deal-first.show .back { display: none; }
  #deal-first.show .front { display: block; }
  
  #play-data, #deal-data, #bank, #p-bet { font-size: 2.25em; }
  
  /* (C) PLAY CONTROLS */
  #playc-hit, #playc-stand, #playc-start {
    display: flex;
    /* cursor: pointer; */
    font-weight: 700;
    padding: 10px 20px;
    width: 35vw; 
    border: 0;
    color: #fff;
    background: var(--playc-bg);
  }
  #bet-up {
    justify-content: right;
    font-weight: 700;
    padding: 10px 10px;
    border: 0;
    color: #fff;
    background: ;
  }
  #bet-down {
    justify-content: right;
    font-weight: 700;
    padding: 10px 10px;
    border: 0;
    color: #fff;
    background: var(--betup-bg);
  }
  
  #playc-hit, #playc-stand, #playc-start, #bet-up, #bet-down { font-size: 200%; }
  #playc-start, #bet-up, #bet-down { display: inline-block; }
  #playc-hit, #playc-stand { display: none; }
  #play-control.started #playc-start { display: none; }
  #play-control.started #bet-up, #play-control.started #bet-down { display: none; }
  #play-control.started #playc-hit, #play-control.started #playc-stand { display: inline-block; }
}