
@font-face {
    font-family: headfont;
    src: url(../fonts/p.ttf);
}


@font-face {
    font-family: digifont;
    src: url(../fonts/digital.ttf);
}

@media (max-width: 768px) {
    #sidebar-left, #sidebar-right {
      display: none;
    }
}
/* Define CSS variables for colors */ 
 :root { 
   --background-color: #ffffff; 
   --menu-color: #292929; 
   --nav-text: white; 
   --text-color: black; 
   --link-color: blue; 
   --button-color: blue; 
   --button-text-color: white; 
   --subtext-color: #2b2b2b; 
 } 
 /* Dark mode styles */ 
 .dark-mode { 
   --background-color: #1f1f1f; /* Change the background color to black */ 
   --text-color: #e3e3e3; /* Change the text color to white */ 
   --link-color: white; /* Change the link color to white */ 
   --button-color: blue; /* Change the button color to red */ 
   --nav-color: #000000; 
   --nav-text: white; 
   --subtext-color: #c2c2c2; 
 }
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

.full-width-table {
    width: 100%; /* make the table take up 100% of the available space */
    border-collapse: collapse; /* remove the gaps between cells */
  }

  .full-width-table th, .full-width-table td {
    border: 1px solid black; /* add borders to the cells */
    padding: 10px; /* add some space around the cell content */
    text-align: left; /* align the text to the left */
  }


  
#container {
  width: 100vw;
  margin: 0 auto;
}

#header {
  font-family: headfont, sans-serif;
  font-size: 1.5em; /* 30px/16=1.875em */
  text-align: center;
  color: white;
  background-color: rgb(0, 162, 255);
  padding: 1px;
}

#menu {
  background-color: var(--menu-color);
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li, li.toggle { 
  display: inline-block; 
}

li {
  width: 17vw;
  text-align: center;
}

li.toggle {
  width: 3vw;
  cursor: pointer;
}

a, li.toggle {
  display: inline-block;  /* this line fixed the menu not on same line bug*/
  color: white;
  padding: 10px;
  text-decoration: none;
}
#dark-mode-button {
  background-color: var(--menu-color);
}

a:hover, li.lightswitch:hover {
  background-color: rgb(176, 176, 176);
}

#content {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

#sidebar-left {
  width: 20%;
  color: black;
  background-color: rgb(196, 240, 255);
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
#sidebar-left a {
  color: black;
}

#main {
    width:60%;
    -webkit-flex :3; 
    -moz-flex :3; 
    flex :3; 
    margin-left :2%; 
    margin-right :2%;
}
#bank {
  font-family: digifont, sans-serif;
}

h2, h3 {
    margin :10px; 
}

#featp, #featp2 {
  padding: 10px;
  border-top: solid;
}

img {
    width :50%; 
    border-radius: 20px;
}

p {
    margin :10px; 
}

#sidebar-right {
    width :20%; 
    background-color :rgb(182, 223, 255); 
    -webkit-flex :1; 
    -moz-flex :1; 
    flex :1; 
    right :0; 
}

#footer {
    text-align :center;
    height : "70px"; 
    color :white; 
    background-color :rgb(5, 0, 36);
}